doctype html
html
  head
    title KSU CIS Open House Tree
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='css/style.css', rel='stylesheet', type='text/css')
    // webfonts
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Marvel:400,700', rel='stylesheet', type='text/css')
    // //webfonts
  body
    h1 KSU CIS Open House Tree Moderator
    .registration
      h2 Moderator
      p
        | Decide whether or not the name should be added to the tree.
      form
        input(type='submit', value='ACCEPT NAME')
        input(type='submit', value='DECLINE NAME')
        input(type='submit', value='DELETE ELEMENT')
        input(type='submit', value='CLEAR TREE')
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='https://code.jquery.com/jquery-2.2.1.min.js')
    script(src='/js/moderator.js')
