doctype html
html
  head
    title
      | AVL Tree Visualzation
    // css sheet for how the page is laid out
    link(rel='stylesheet', href='/css/visualizationPageStyle.css')
    // jqueury stuff.  Only used for the animation speed slider.
    link(rel='stylesheet', href='/css/jquery-ui-1.8.11.custom.css')
    script(src='/js/ThirdParty/jquery-1.5.2.min.js')
    script(src='/js/ThirdParty/jquery-ui-1.8.11.custom.min.js')
    // Javascript for the actual visualization code
  body.VisualizationMainPage(onload='init();')
    #container
      #header
        h1 AVL Tree
      #mainContent
        #algoControlSection
          // Table for buttons to control specific animation (insert/find/etc)
          // (filled in by javascript code specific to the animtion)
          table#AlgorithmSpecificControls  
        // Drawing canvas where all animation is done.  Note:  can be resized in code
        canvas#canvas(width='2500', height='1400')
        #generalAnimationControlSection
          //
            Table for buttons to control general animation (play/pause/undo/etc) ->
            <!-- (filled in by javascript code, specifically AnimationMain.js)
          table#GeneralAnimationControls   
      // mainContent
      #footer
        p
          a(href='Algorithms.html') Algorithm Visualizations
    // container
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='/js/AnimationLibrary/CustomEvents.js')
    script(src='/js/AnimationLibrary/UndoFunctions.js')
    script(src='/js/AnimationLibrary/AnimatedObject.js')
    script(src='/js/AnimationLibrary/AnimatedLabel.js')
    script(src='/js/AnimationLibrary/AnimatedCircle.js')
    script(src='/js/AnimationLibrary/AnimatedRectangle.js')
    script(src='/js/AnimationLibrary/AnimatedLinkedList.js')
    script(src='/js/AnimationLibrary/HighlightCircle.js')
    script(src='/js/AnimationLibrary/Line.js')
    script(src='/js/AnimationLibrary/ObjectManager.js')
    script(src='/js/AnimationLibrary/AnimationMain.js')
    script(src='/js/AlgorithmLibrary/Algorithm.js')
    script(src='/js/AlgorithmLibrary/AVL.js')

    script(src='/js/tree.js')
