doctype html
html
  head
  body
    h1 Tree goes here
    h2 Names:
    ul#names
      each name in names
        li= name
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js')
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='https://code.jquery.com/jquery-2.2.1.min.js')
    script(src='/js/tree.js')
